body {
  background-color: #ffffff;
}
li{
  list-style-type: none;
}
a{
  text-decoration: none;
  color:#111111 ;
}

a:hover{
  border:"none";
 color:#E77E83;
 text-decoration: none;
}
h1,h2,h3,h4,h5,h6{
  margin:0 ;
  padding:0 ;
}
p{
  margin:0
}
ul{
  padding:0;
  margin: 0 ;
}
button{
  display: block;
  border: none;
  background-color: transparent;
}
::placeholder, select {
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  color: #000000 ;
}
textarea::placeholder{
  font-size: 15px;
  line-height: 18px;
  color: #707070 ;
}



.MuiButton-iconSizeMedium > *:first-child {
   font-size: 12px
}
button:active,button:focus {
  outline: none;
}
button::-moz-focus-inner {
  border: 0;
}
label{
  margin:0
}

.MuiInput-underline:before, .MuiInput-underline:after{
  border-bottom: none !important;
}

.MuiPickersCalendarHeader-daysHeader{
  font-size: 10 !important;
}
.MuiPickersCalendarHeader-dayLabel {
  font-size: 10 !important;
}