
/*****MAIN*****/


/*******HEADER*****/
















  



/****** CATALOG PAGE *****/
.dropdown-toggle::after{
    font-family: FontAwesome;
    content: "\f078" !important;
    border:none !important;
    font-size: 8px;
}








/********* CHECKOUT PAGE ********************/
.checkout__form{
    margin-top: 36px;
    margin-bottom: 84px;
    margin-left: 105px;
}
.form__h{
    font-weight: 600;
font-size: 15px;
line-height: 18px;
color: #000000;
margin-bottom: 15px !important;
padding-left: 5px !important;
}
.form-control{
    background: #F7F8FC !important;
border: 1px solid #E9ECF0 !important;
box-sizing: border-box;
height: 45px !important;
}
.checkout__form>.form-group{
    margin-bottom: 31px !important;
}
#m{
    padding-right: 25px;
}

#check__text{
    font-weight: normal;
    font-size: 12px;
    line-height: 250%;
    color: #666666;
    margin-left: 11.5px !important;
}
.form-check label{
     margin-left: 10px;
     display: flex;
     align-items: center;
}
.form__returnText a{
    font-weight: normal;
font-size: 15px;
line-height: 18px;
color: #000000;
margin-left: 21px !important;
}
.form__btnBlock{
    display: flex;
    justify-content: flex-end;
}
.form__btn{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #E77E83;
    border-radius: 36px;
width: 227px;
height: 55px;
font-weight: 600;
font-size: 12px;  
letter-spacing: 1.5px;
text-transform: uppercase;
color: #FFFFFF;
}










/********* SIGN FORM PAGE *************/
.signBlock{
    margin-top: 49px;
    margin-bottom: 55px;
}
.signBlock input{
    width: 390px;
    height: 45px;
    background: #F7F8FC;
border: 1px solid #E9ECF0;
box-sizing: border-box;
}

.sign__form>.form-group{
    margin-bottom: 21px !important;
   
}
.sign__formHeadline{
    font-weight: 600;
font-size: 15px;
line-height: 18px;
color: #000000;
margin-bottom: 15px !important;
}
.custom-checkbox {
    margin-top: 10px;
font-size: 12px;
line-height: 250%;
color: #666666;
}
.custom-checkbox span{
  color:#E77E83;
  font-weight: 300;
  margin-left: 5px;
}

.sign__formPopUpBlock{
    display: flex;
    align-items: center;
    padding-bottom: 29px;
    padding-top: 35px;
}
.sign__formPopUp{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #7ECB80;
    border-radius: 50%;;
    width: 40px;
    height:40px;
    color:white;
}
.sign__formPopUp p{
    font-weight: normal;
font-size: 20px;
line-height: 24px;
color: #FFFFFF;
}

.sign__formPopUpBlock hr{
    background:#707070 !important;
    width: 118px;
}
.sign__formPopUpBlock hr:first-child{
  margin-right:45px !important;
}
.sign__formPopUpBlock hr:last-child{
    margin-left:45px !important;
  }
#sign__formBtn{
    width: 180px;
    height: 55px;
    margin-top: 24px;
    background: #E77E83;
    font-weight: 600;
border-radius: 36px;
font-size: 12px;
line-height: 15px;
display: flex;
align-items: center;
justify-content: center;
letter-spacing: 1.5px;
text-transform: uppercase;
color: #FFFFFF;

}
.sign__formGrey, .forgot__pass{
    font-weight: normal;
    font-size: 12px;
    color: #707070;
    margin-left: 20px !important;
    display: flex;
    align-items: center;
}
.fake__sign::after{
    transform: translate(20%, -25%);
}
.signBlock__return-btn{
margin-top: 192px;
}







/****** CHANGEPASS PAGE *********/
.changePass__form> .form-group{
  margin-bottom: 31px;
}
.changePass__headline{
    font-weight: 600;
font-size: 15px;
line-height: 18px;
color: #000000;
margin-bottom: 15px !important;
margin-top: 21px !important;
}




/******* RETURN PAGE ********/
.returnBlock__text{
    margin-left: 50px;
    margin-top: 50px;
}
.returnBlock__inform{
    display: flex;
}
.returnBlock__inform-active{
    display: none;
}
.returnBlock p{
    font-size: 15px;
}
.returnBlock__text span{
    font-weight: 500;
font-size: 15px;
line-height: 150%;
color: #E77E83;
}
.returnBlock__text p{
    font-size: 15px;
}
.returnBlock__links{
    display: flex;
    align-items: center;
    background: #E9EBF0;
    height: 45px;
    margin-left: 30px;
    margin-top: 15px;
}
.returnBlock__links p{
    font-size: 15px;
line-height: 18px;
color: #000000;
}
.returnBlock__item{
    margin-top: 15px;
    margin-bottom: 20px;
    margin-left: 30px;
}
.returnBlock__item-active{
    display: none;
}
.returnBlock__item-column{
    display: flex;
}
.returnBlock__item-column img{
    width: 20px;
    height: 20px;
    margin-top: 25px !important;
   
}
.returnBlock__item-column p{
    margin-top: 23px !important;
    margin-left: 5px !important;
}




/****** HELP PAGE ******/
.helpBlock__text{
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
    margin-bottom: 15px !important;
    margin-top: 21px !important;
}
.helpBlock textarea{
    height: 195px !important;
}

/******* FEEADBACK PAGE *******/
.feedbackBlock__itemImg{
border: 1px solid #EFEFEF;
box-sizing: border-box;
width: 180px;
height: 225px;
}
.feedbackBlock__list{
    margin-top: 40px;
}
.feedbackBlock__item{
    margin-left: 30px;
    margin-top: 30px;
}
.feedbackBlock__itemGrey{
    font-size: 12px;
line-height: 150%;
color: #707070;
margin-top: 15px !important;
margin-bottom: 110px !important; 
}
.feedbackBlock__itemColumn2> .stars{
    margin-top: 20px;
}
.feedbackBlock__itemText{
    margin-top: 20px !important;
}

.feedbackBlock__form{
    margin-left: 30px;
    margin-top: 10px;
}
.feedbackBlock__form2{
    margin-top: 10px;
    margin-bottom:50px;
}
#feedbackBlock__form2-textarea{
    height:160px !important;
    margin-bottom: 45px;
}











/*****POPUP *****/
.popUp{
    margin: 0 auto;
    position: relative;
    width: 785px;
    height: 487px;
    background: #FFFFFF;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.25);
    }
    .popUp__icon{
        position: absolute;
        right:17px;
        top:15px;
    }
    .popUp__inform{
        display: flex;
    }
    .popUp__img img{
        width: 245px;
        height: 487px;
        padding-left: 25px;
    }
    .popUp__text{
        width: 443px;
        padding-left: 27px;
        padding-right: 45px;
    }
    .popUp__headline{
  
     font-weight: normal;
    font-size: 50px;
    line-height: 61px;
    color: #111111;
    height: 120px;
    padding-top: 71px;

    }
    .popUp__text1{
        font-style: italic;
        font-weight: 300;
        font-size: 17px;
        line-height: 200%;  
        color: #000000;
        height: 113px;
        padding-top: 26px;
    }
    .popUp__slogan{
        font-weight: 600;
        font-size: 15px;
        line-height: 200%;
        display: flex;
        align-items: center;
        color: #000000;
        padding-top: 48px;
    }
    .popUp__text span{
        color:#E77E83;
        font-weight: 400;
    }
    .popUp2{
        margin: 0 auto;
        position: relative;
        width: 700px;
        height: 370px;
        background: #FFFFFF;
        box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.25);
        padding:37px 45px 74px 45px
    }
    .popUp2__icon{
            position: absolute;
            right:17px;
        top:15px;
     }
     .popUp2__text{
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        color: #707070;
        margin-bottom: 30px !important;
     }
     .popUp2__text span{
        color:#E77E83;
        font-weight: 300;
     }
   
     .signBlock__return-btn-active{
        display: none;
    }

/***********************
***MEDIA BREAKPOINTS****
***********************/

@media (max-width: 575.98px) { 
    .benefits__item p{
        margin-bottom: 30px !important;
    }
    #arrow-next{
        right: 0 !important;
    }
    #arrow-prev{
        left: 0 !important;
    }
    .nav__cart, .nav__account, .nav__search{
        padding-bottom: 10px;;
    }
    
   
    
    .catalog{
        display: block !important;
    }
    .products__side-barItemMenu{
        flex-direction: row;
        flex-wrap: wrap;
    }
    .products__side-barItemMenu label{
        margin-left: 10px;
    }
    .headline__none{
        display: none;
    }
    .checkout__form{
        margin:0 !important;
        margin-top: 30px !important;
    }
    .form__btn{
        margin: 0 !important;
        margin-top: 20px !important;
        margin-bottom: 20px !important;
    }
    #m{
        padding:0;
    }
    .sign__form{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-top: 30px;
    }
    .signBlock__return-btn{
        display: none;
    }
    .signBlock__return-btn-active{
        display: flex;;
    }
    .signBlock input{
        width: 310px;
    }
    .sign__formPopUpBlock hr{
        width: 80px;
    }
    .signBlock{
        margin-top: 10px;
    }
    .returnBlock__inform {
        display: flex;
        margin-top: 30px;
        flex-direction: column
    }
    .returnBlock__item{
        display: none;
    }
    .returnBlock__text{
        margin-left: 0 !important;
        margin-bottom: 20px;
        text-align: center;
        }
    .returnBlock__inform2{
        margin-left:0 !important;
    }
    .returnBlock__links{
        display: none;
    }
    .returnBlock__item-active{
        display: block !important;
        background: #E9EBF0;
        margin-top: 20px;
    }
  
    .returnBlock__inform-active{
        display: flex !important;
        flex-direction: column;
        align-items: stretch;
        margin-top: 20px;

    }
    .returnBlock__item-active p{
       display: flex;
       justify-content: center;
       align-items: center;
       text-align: center;
    }
    .returnBlock__item-active p:first-child{
        min-height: 180px;
    }
    .returnBlock__item-active p:nth-child(2){
        min-height: 70px;
    }
    .returnBlock__item-active p:nth-child(3){
        min-height: 50px;
    }
    .returnBlock__item-active p:last-child{
        min-height: 120px;
    }
    .returnBlock__informItem-active{
        min-height: 180px;
    }
    .returnBlock__inform-active p:nth-child(2)
    {
        min-height: 30px;
    }
    .returnBlock__inform-active p:nth-child(3)
    {
        min-height: 80px;
    }
    .returnBlock__item-column{
        min-height: 120px;
    }
    
    .orders__item{
        display: none;
    }
    .orders__item-active{
        display: flex !important;
    }
    .form__btnBlock{
        justify-content: flex-start;
    }
    .feedbackBlock__list{
        display: none;
    }
    #multiCarousel_3{
        display: none;
    }
    
}


@media (min-width: 576px) and (max-width: 767.98px) {
 
    .benefits__item p{
        margin-bottom: 30px !important;
    }
    #f{
        align-items: top;
    }
    #arrow-next{
        right: 0 !important;
    }
    #arrow-prev{
        left: 0 !important;
    }
    .review__itemInform{
        display: flex;
        justify-content:flex-start !important;
        margin-bottom: 20px;
    }
    
    /****** CHECKOUT *******/
    .checkout__form{
        margin:0 !important;
        margin-top: 30px !important;
    }
    .form__btn{
        margin: 0 !important;
        margin-top: 20px !important;
        margin-bottom: 20px !important;
    }
    #m{
        padding:0;
    }
    .sign__form{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-top: 30px;
    }
    .signBlock__return-btn{
        display: none;
    }
    .signBlock__return-btn-active{
        display: flex;
        justify-content: center;
        margin-top: 30px;
    }
    .returnBlock__text{
    margin-left: 0 !important;
    margin-bottom: 20px;
    text-align: center;
    }
    .returnBlock__item{
        display: none;
    }
    .returnBlock__inform {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
    }
    .returnBlock__inform2{
        margin-left:0 !important;
    }
    .returnBlock__links{
        display: none;
    }
    .returnBlock__item-active{
        display: block !important;
        background: #E9EBF0;
        margin-top: 20px;
    }
    .returnBlock__inform-active{
        display: flex !important;
        flex-direction: column;
        align-items: stretch;
        margin-top: 20px;

    }
    .returnBlock__item-active p{
       display: flex;
       justify-content: center;
       align-items: center;
       text-align: center;
    }
    .returnBlock__item-active p:first-child{
        min-height: 180px;
    }
    .returnBlock__item-active p:nth-child(2){
        min-height: 70px;
    }
    .returnBlock__item-active p:nth-child(3){
        min-height: 50px;
    }
    .returnBlock__item-active p:last-child{
        min-height: 120px;
    }
    .returnBlock__informItem-active{
        min-height: 180px;
    }
    .returnBlock__inform-active p:nth-child(2)
    {
        min-height: 30px;
    }
    .returnBlock__inform-active p:nth-child(3)
    {
        min-height: 80px;
    }
    .returnBlock__item-column{
        min-height: 120px;
    }
    
    .changePass__form{
       text-align: center;
    }
    .changePass__formBtn{
        display: flex;
        justify-content: center;
    }
    .orders__item{
        display: none;
    }
    .orders__item-active{
        display: flex !important;
    }
    .form__btnBlock{
        justify-content: flex-start;
    }
    .feedbackBlock__list{
        display: none;
    }
    #multiCarousel_3{
        display: none;
    }
}
.returnBlock__list-active{
    display: none;
}

@media (min-width: 768px) and (max-width: 991.98px) { 
    .works__item{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .benefits__item p{
        margin-bottom: 30px !important;
    }
    #f{
        align-items: top;
    }
   
    .footer__item:last-child p{
        margin-bottom:5px !important;
    }
  
    #multiCarousel_3{
        display: none;
    }
   
}



@media (min-width: 992px) and (max-width: 1199.98px) {
   
}


@media (min-width: 1200px) { 

}
