/******* FEEADBACK PAGE *******/

.feedbackInform {
    display: flex;
}

.feedbackItemImg {
    border: 1px solid #EFEFEF;
    box-sizing: border-box;
    width: 180px;
    height: 225px;
}
.feedbackList {
    margin-top: 40px;
}

.feedbackItem {
    margin-left: 30px;
    margin-top: 30px;
}
.feedbackItemGrey {
    font-size: 12px;
    line-height: 150%;
    color: #707070;
    margin-top: 15px !important;
    margin-bottom: 110px !important;
}

.feedbackItemColumn2>.stars {
    margin-top: 20px;
}

.feedbackItemText {
    margin-top: 20px !important;
}

.feedbackForm {
    margin-left: 30px;
    margin-top: 10px;
}

.feedbackForm2 {
    margin-top: 10px;
    margin-bottom: 50px;
}

#feedbackForm2-textarea {
    height: 160px !important;
    margin-bottom: 45px;
}
.feedbackItem-active, .feedbackList-active{
    display: none;
}

@media (max-width: 575.98px) { 
    .feedbackList, .feedbackItem{
        display: none;
    }
   .feedbackInform{
       display: block;
   }
   .feedbackItem-active, .feedbackList-active{
       display: flex;
   }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .feedbackList, .feedbackItem{
        display: none;
    }
    .feedbackInform{  
        display: block;
    }
    .feedbackList-active{
        display: flex;
    }
}