.MuiInputLabel-outlined {
  transform: translate(14px, 15px) scale(1) !important;
}
.MuiInputLabel-outlined.MuiInputLabel-shrink{
  transform: translate(14px, -6px) scale(0.75) !important;

}

.MuiIconButton-edgeEnd {
  margin-right: 0 !important;
}